*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body{
    background-color: white;
}

/* FOOTER */
.pieDePagina .seccion2{
background-color: #BFBDBC;
padding: 15px 10px;
text-align: center;
color: white;
}

.pieDePagina .seccion1{
    display: flex;
    background-color: #D5D2D1;
}

.pieDePagina .box1{
    margin: 0 30px;
    order: 0;
}

.pieDePagina .box2{
    margin: 0 30px;
    order: 1;
}

.pieDePagina .box3{
    margin: 0 30px;
    order: 2;
}

.box1 .logo{
   align-self: center;
   padding: 10px;

}

.envio{
    background-color: #25316D;
    color: white;
    text-align: center;
    padding: 15px 10px; 
    font-weight: bold;
    font-family: Century Gothic; 

}

.qc{
    color: black;
 font-family: Century Gothic; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}

/* PRODUCTOS */
.main{
    padding: 20px;
}
.container_products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
}
.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}

.product_new{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}
.product_new:before{
    content: "NEW";
    background: red;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
}
.title_product{
    text-align: center;
}
.price_product{
    color: #25316D;
    font-weight: bold;
}
.product_icon{
    display: block;
    margin: 10px;
}
.product_icon:hover{
    color: #25316D;
}